
//全站背景色
$background-color:rgb(40,40,40);

//副文本颜色
$assistant-color:#736F78;

//焦点背景颜色
$active-background-color:#A7264D;

//标题颜色
$title-color:#fff;

//边框色
$border-line:1px solid #424242;

//重置ionic部分样式
.modal{
  background-color: $background-color;
}
.button-active{
  background-color: $active-background-color;
  color:#fff;
}
//cart 数字背景色
$cart-number:#FF3B30;

$price:#0290F5;

$background-list-color:#2F2F2F